.flex-center{
    display:flex;
    justify-content: center;
    align-items: center;
}
input{
    outline: none;
    box-shadow:none !important;
    background-color: transparent;
}
input[type='text'], input[type='password'], input[type='username'], input[type='email']{
    border-color: rgb(148, 148, 148);
    border-top: 5px;
    border-left: 5px;
    border-right: 5px;
    width:100%;
    padding:5px
}
input[type='text']:focus, input[type='password']:focus, input[type='username']:focus, input[type='email']:focus{
    border-color: rgb(48, 48, 48);
}
.form-group{position: relative;}
.form-group label{
    position: absolute;
    top:5px;
    left:5px;
    color: #000;
}
.label-form{
    font-size:10px;
    margin-top:-15px;
    margin-left:-10px;
    color: rgb(141, 141, 141);
    -webkit-transition: color .5s, font-size .5s, margin-top .5s, margin-left .5s;
    -moz-transition: color .5s, font-size .5s, margin-top .5s, margin-left .5s;
    -o-transition: color .5s, font-size .5s, margin-top .5s, margin-left .5s;
    transition: color .5s, font-size .5s, margin-top .5s, margin-left .5s;
}
label{
    -webkit-transition: color .5s, font-size .5s, margin-top .5s, margin-left .5s;
    -moz-transition: color .5s, font-size .5s, margin-top .5s, margin-left .5s;
    -o-transition: color .5s, font-size .5s, margin-top .5s, margin-left .5s;
    transition: color .5s, font-size .5s, margin-top .5s, margin-left .5s;
}